<div id="<%= dom_id(post) %>" class="table-row <%= cycle('dark:bg-gray-900', 'dark:bg-gray-800') %>">
  <div class="table-cell">
    <%= post.title %>
  </div>

  <div class="table-cell">
    <%= post.body %>
  </div>

  <div class="table-cell">
    <%= post.published_at %>
  </div>
  <div class="table-cell">
    <%= link_to "Show", post, class: "text-link" %>
    <%= link_to edit_post_path(post), class: "text-link", data: { turbo_frame: :form }  do %>
      <%= heroicon "pencil-square", options: { class: "w-6 h-6" } %>
    <% end %>
  </div>
</div>

