<p style="color: green"><%= notice %></p>

<h1 class="heading1 mb-5"><%= @post.title %></h1>

<dl class="description">
  <div class="description-row">
    <dt class="description-title">Title</dt>
    <dd class="description-body"><%= @post.title %></dd>
  </div>
  <div class="description-row">
    <dt class="description-title">Body</dt>
    <dd class="description-body"><%= @post.body %></dd>
  </div>
  <div class="description-row">
    <dt class="description-title">Published At</dt>
    <dd class="description-body"><%= @post.published_at %></dd>
  </div>
</dl>

<div class="flex mt-3">
  <%= link_to "Edit", edit_post_path(@post), class: "btn-primary" %>
  <%= link_to "Back", posts_path, class: "btn-primary" %>

  <%= button_to "Destroy", @post, method: :delete, class: "btn-red", form: { data: { turbo_confirm: "Are you sure?" } } %>
</div>
